div#playfield {
    font-family: 'Lucida Console', Anonymous, Consolas, monospace;
    font-size: 12px;
    line-height: 12px;
}

/* Show-hide text data for configs */

textarea#colorsettings {
    display: none;
}

input#hide_df_text {
    display: none;
}

/* Color picker table */

td.picker {
    width: 150px;
    height: 30px;
    border: 1px solid black;

}

/* Eight backgrounds */
.back_BLACK {
    background-color: #000000;
}

.back_DGRAY {
    background-color: #808080;
}

.back_BLUE  {
    background-color: #000080;
}

.back_LBLUE {
    background-color: #0000FF;
}

.back_GREEN  {
    background-color: #008000;
}

.back_LGREEN {
    background-color: #00C000;
}

.back_CYAN  {
    background-color: #008080;
}

.back_LCYAN {
    background-color: #00FFFF;
}

.back_RED   {
    background-color: #800000;
}

.back_LRED  {
    background-color: #FF0000;
}

.back_MAGENTA {
    background-color: #800080;
}

.back_LMAGENTA {
    background-color: #FF00FF;
}

.back_BROWN {
    background-color: #808000;
}

.back_YELLOW {
    background-color: #FFFF00;
}

.back_LGRAY {
    background-color: #C0C0C0;
}

.back_WHITE {
    background-color: #FFFFFF;
}

/* Foregrounds */

.fore_BLACK {
    color: #000000;
}

.fore_DGRAY {
    color: #808080;
}

.fore_BLUE  {
    color: #000080;
}

.fore_LBLUE {
    color: #0000FF;
}

.fore_GREEN  {
    color: #008000;
}

.fore_LGREEN {
    color: #00FF00;
}

.fore_CYAN  {
    color: #008080;
}

.fore_LCYAN {
    color: #00FFFF;
}

.fore_RED   {
    color: #800000;
}

.fore_LRED  {
    color: #FF0000;
}

.fore_MAGENTA {
    color: #FF00FF;
}

.fore_LMAGENTA {
    color: #FF00FF;
}

.fore_BROWN {
    color: #808000;
}

.fore_YELLOW {
    color: #FFFF00;
}

.fore_LGRAY {
    color: #C0C0C0;
}

.fore_WHITE {
    color: #FFFFFF;
}